.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("img_tree.gif");
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("img_tree.gif");
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("img_tree.gif");
}
